@import "tailwindcss";
@font-face {
	font-family: JetBrainsMono;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("./assets/JetBrainsMono-Regular.woff2") format("woff2");
}

@theme {
	--font-mono: "JetBrainsMono", monospace;
}

@layer components {
	.cell {
		@apply w-4.5 h-4 leading-none flex items-center justify-center text-stone-900 bg-gray-700;
	}
	.rom {
		@apply bg-lime-500 text-stone-900 rounded;
	}
	.register {
		@apply bg-blue-300 text-stone-900 rounded;
	}
	.pcRegister,
	.pc {
		@apply bg-amber-500 text-stone-900 rounded;
	}
	.display {
		@apply bg-emerald-500 text-stone-900 rounded;
	}
	.keyBuffer {
		@apply bg-zinc-500 text-stone-100 rounded;
	}
	.stack {
		@apply bg-pink-400 text-stone-900 rounded;
	}
	.stackPtr {
		@apply bg-rose-300 text-stone-900 rounded;
	}
	.delayTimer {
		@apply bg-yellow-500 text-stone-900 rounded;
	}
	.keyWait {
		@apply bg-orange-500 text-stone-900 rounded;
	}
	.soundTimer {
		@apply bg-fuchsia-500 text-stone-900 rounded;
	}
	.iRegister {
		@apply bg-cyan-500 text-stone-900 rounded;
	}
}
